################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/aa.vs
*/aenv
*/avenv
*/a.vscode
*/adist
.vs
.vscode
*/aobj
/Backend/classifier/models/healthguide_model/model.safetensors
/TestResults
/.pytest_cahce
Backend/classifier/healthguide/__pycache__/